<table class="table">
  <thead>
		<tr>
		  <th class="description"><%= t("views.listings._cost_calculation.labels.description") %></th>
		  <th class="price"><%= t("views.listings._cost_calculation.labels.price") %></th>
		</tr>
	</thead>
  <tbody>
		<tr>
			<td><%= listing.description.size %> <%= t("views.listings._cost_calculation.labels.characters") %></td>
			<td class="price"><%= number_to_currency(listing.total_character_price, unit: "ZMW") %></td>
		</tr>
		<tr>
			<td><%= listing.display_for %> <%= t("views.listings._cost_calculation.labels.days") %></td>
			<td class="price"><%= number_to_currency(listing.total_daily_price, unit: "ZMW") %></td>
		</tr>
		<tr>
			<td><%= t("models.listing.sizes.#{listing.panel_size}") %> <%= t("views.listings._cost_calculation.labels.listing_size") %></td>
			<td class="price"><%= number_to_currency(listing.total_panel_price, unit: "ZMW") %></td>
		</tr>
		<tr class="total">
			<td><%= t("views.listings._cost_calculation.labels.total") %></td>
			<td class="price"><%= number_to_currency(listing.total_listing_price, unit: "ZMW") %></td>
		</tr>
	</tbody>
</table>
