<%= form_for(@listing) do |f| %>
		<%= render "errors", listing: @listing %>

    <%= f.hidden_field :state %>

		<div class="row">
			<div class="span4">
				<fieldset class="control-group">
			    <%= f.label :listing_type, t("views.listings._form.labels.listing_type"), class: "control-label" %>
			    <div class="controls"><%= f.select :listing_type, Listing::TYPES, { prompt: false }, { class: "span3" } %></div>
				</fieldset>
			</div>
			<div class="span4">
				<fieldset class="control-group">
			    <%= f.label :panel_size, t("views.listings._form.labels.panel_size"), class: "control-label" %>
			    <div class="controls"><%= f.select :panel_size, Listing::SIZES, { prompt: false }, { class: "span3" } %></div>
				</fieldset>
			</div>
			<div class="span8">
				<legend><%= t("views.listings._form.legends.details") %></legend>
				<fieldset class="control-group">
			    <%= f.label :description, t("views.listings._form.labels.description"), class: "control-label" %>
			    <div class="controls"><%= f.text_area :description, { id: "listing_description", class: "span6",  rows: 5 } %></div>
				</fieldset>
			</div>
		</div><!-- /.row -->

		<fieldset class="control-group">
	    <%= f.label :display_for, t("views.listings._form.labels.display_for"), class: "control-label" %>
	    <div class="controls">
				<%= f.select :display_for, Listing::PERIODS, { prompt: false }, { class: "span2" } %>
				<%= t("views.application.copy.at") %>
				<%= number_to_currency(Listing::COST_PER_DAY, unit: "ZMK" ) %><%= t("views.application.copy.per") %><%= t("views.listings._form.copy.day") %>				
			</div>
		</fieldset>

	  <div class="actions form-actions">
	    <%= f.submit class: "btn btn-primary btn-large" %>
	  </div>
	</fieldset>
<% end %>
