<div class="listing <%= listing.listing_type %>">	
	<%=simple_format listing.description %>

	<div class="listing_meta_data">
		<% if user_signed_in? %>
			<span class="status_and_controls">
				<% if listing.user == current_user %>
						<%= t("views.listings.copy.states.#{listing.state}") %>
						| <%= link_to_unless_current t("views.listings.links.view"), listing %>
						<% if listing.unpublished? %>| <%= link_to_unless_current t("views.listings.links.edit"), edit_listing_path(listing) %><% end %>
						<% if listing.expired? %>
						| <%= link_to_unless_current t("views.listings.links.refresh"), edit_listing_path(listing) %>
						| <%= link_to_unless_current t("views.listings.links.archive"), edit_listing_path(listing) %>
						<% end %>
				<% end %>
				<% if current_user.admin? && listing.review? %>
						| <%= link_to_unless_current t("views.listings.links.accept"), accept_listing_path(listing), method: :put %>
						| <%= link_to_unless_current t("views.listings.links.reject"), reject_listing_path(listing), method: :put %>
				<% end %>
			</span>
		<% end %>
		<span class="listing_code"><%= link_to_unless_current listing.listing_code, listing %></span>
		<span class="<%= listing.listing_type %>"><%= t("models.listing.types.#{listing.listing_type}") %></span>
	</div>
</div>
