<h2><%= t("views.listings._payment_instructions.titles.payment_details") %></h2>

<%
sending_number = current_user.cell_phone_number
amount = @listing.total_listing_price
formatted_amount = number_to_currency(@listing.total_listing_price, unit: "K")
carrier = t("models.phone_number.mobile_carriers.#{CellPhoneNumber.mobile_carrier(current_user.cell_phone_number)}")
receiving_number = AirtimePayment.random_receiving_number(CellPhoneNumber.mobile_carrier(current_user.cell_phone_number))
%>

<p><%=raw t("views.listings._payment_instructions.copy.instructions", amount: formatted_amount, carrier: carrier, sending_number: sending_number, receiving_number: receiving_number) %></p>
<p><%= t("views.listings._payment_instructions.copy.enter.#{CellPhoneNumber.mobile_carrier(current_user.cell_phone_number)}", sending_number: sending_number) %></p>
<pre class="USSD_sequence">
<%= t("views.listings._payment_instructions.copy.airtime_transfer_sequence.#{CellPhoneNumber.mobile_carrier(current_user.cell_phone_number)}", amount: amount, receiving_number: receiving_number) %>
</pre>
<p><%= t("views.listings._payment_instructions.copy.send_to.#{CellPhoneNumber.mobile_carrier(current_user.cell_phone_number)}") %></p>
<p><%= t("views.listings._payment_instructions.copy.edit_limitation") %></p>

<br />

<div class="row">
	<div class="span4">
		<h3><%= t("views.listings._payment_instructions.titles.breakdown") %></h3>
		<%= render "cost_calculation", listing: @listing %>
	</div>
	<div class="span4">
		<%= render "price_list" %>
	</div>
</div>

<% if @listing.comments.present? %>
	<div id="comments">
		<h3><%= t("views.listings._payment_instructions.titles.comments") %></h3>
		<%= render @listing.comments %>
	</div>
<% end %>

<div class="action">
	<%= link_to t("views.listings._payment_instructions.links.pay", amount: formatted_amount, receiving_number: receiving_number), pay_listing_path(@listing), class: "btn btn-primary btn-large", method: :put %>
</div>
