<% if listing.unpublished? || listing.clearing? || listing.review? %>
	<header>
		<h1><%= title t("views.listings.show.titles.unpublished") %></h1>
	</header>
	<%=simple_format t("views.listings.show.copy.unpublished") %>
<% elsif listing.published? %>
	<header>
		<h1><%= title t("views.listings.show.titles.published", id: listing.id) %></h1>
	</header>
	<%= render "listing", listing: listing %>
<% elsif listing.expired? %>
	<header>
		<h1><%= title t("views.listings.show.titles.expired") %></h1>
	</header>
	<%=simple_format t("views.listings.show.copy.expired") %>
<% else # Assume archived %>
	<header>
		<h1><%= title t("views.listings.show.titles.archived") %></h1>
	</header>
	<%=simple_format t("views.listings.show.copy.archived") %>
<% end %>
