<% if listing.unpublished? || listing.clearing? || listing.review? %>
	<% title t("views.listings.show.titles.unpublished") %>
	<header>
		<h1><%= yield :title %></h1>
	</header>
	<%=simple_format t("views.listings.show.copy.unpublished") %>
<% elsif listing.published? %>
	<% title t("views.listings.show.titles.published", id: listing.id) %>
	<header>
		<h1><%= yield :title %></h1>
	</header>
	<%= render "listing", listing: listing %>
<% elsif listing.expired? %>
	<% title t("views.listings.show.titles.expired") %>
	<header>
		<h1><%= yield :title %></h1>
	</header>
	<%=simple_format t("views.listings.show.copy.expired") %>
<% else # Assume archived %>
	<% title t("views.listings.show.titles.archived") %>
	<header>
		<h1><%= yield :title %></h1>
	</header>
<% end %>
