<section class="welcome">
	<div class="row">
		<div class="span5">
			<h1><%= t("application.name") %></h1>
			<h2><%= t("views.listings.index.title") %></h2>
		</div>
		<div class="span4">
			<p>
				<%= link_to t("views.listings.index.copy.post_your_listing"), new_listing_path %>
				<% price = number_to_currency((((Listing::COST_PER_DAY * 7) / 1000.0).ceil * 1000.0), unit: "ZMK") %>
				<%= t("views.listings.index.copy.ball_park_price_per_week", price: price) %><%= t("views.application.copy.full_stop") %>
			</p>
		</div>
	</div><!-- /.row -->
</section>

<% if @listings.present? %>
	<div class="row">
		<% @listings.each_with_index do |listing,index| %>
			<div class="span3">
				<%=render listing %>
			</div>
			<% if (index % 3 == 2) %>
				</div><!-- /.row -->
				<div class="row">			
			<% end %>
		<% end %>
	</div>
<% else %>
	<div class="row">
		<div class="span9">
			<p class="no_listings"><%= t("views.listings.index.copy.no_listings_html") %></p>
		</div><!-- /.span9 -->
	</div><!-- /.row -->
<% end %>
