<section class="welcome">
	<div class="row">
		<div class="span5">
			<h2><%= t("application.name") %> <%= t("views.listings.index.title") %></h2>
		</div>
		<div class="span4">
			<p>
				<%= link_to t("views.listings.index.copy.post_your_listing"), new_listing_path %><%= t("views.application.copy.semi_colon") %>
				<% price = number_to_currency((((Listing::COST_PER_DAY * 31) / 1000.0).ceil * 1000.0), unit: "ZMK ") %>
				<%= t("views.listings.index.copy.ball_park_price_per_month", price: price) %>
			</p>
		</div>
	</div><!-- /.row -->
</section>

<div class="row">
	<% @listings.each_with_index do |listing,index| %>
		<div class="span3">
			<%=render listing %>
		</div>
		<% if (index % 3 == 2) %>
			</div><!-- /.row -->
			<div class="row">			
		<% end %>
	<% end %>
</div><!-- /.row -->
