<% title t("views.listings.show.title", id: @listing.id) %>

<header>
	<h1><%= yield :title %></h1>
</header>

<%= render "listing", listing: @listing %>

<br />

<% if user_signed_in? && !@listing.is_published? && @listing.user == current_user %>

	<% if @listing.comments.present? %>
		<div id="comments">
			<h3><%= t("views.listings.show.subtitles.comments") %></h3>
			<%= render @listing.comments %>
		</div>
	<% end %>

	<% if @listing.unpublished? %>
		<%= render "payment_instructions", listing: @listing %>
	<% elsif @listing.clearing? %>
		<%= render "clearing_notice" %>
	<% elsif @listing.review? %>
		<%= render "review_notice" %>
	<% end %>
<% end %>
