<% if user_signed_in? %>
	<% if @listing.belongs_to?(current_user) %>
		<% title t("views.listings.show.titles.title", id: @listing.id) %>
		<header>
			<h1><%= yield :title %></h1>
		</header>
		<%= render "listing", listing: @listing %>
	<% else %>
		<%= render "view_listing_by_state", listing: @listing %>
	<% end %>

	<br />

	<% if user_signed_in? && !@listing.is_published? && @listing.belongs_to?(current_user) %>
		<% if @listing.unpublished? %>
			<%= render "payment_instructions", listing: @listing %>
		<% elsif @listing.clearing? %>
			<%= render "clearing_notice" %>
		<% elsif @listing.review? %>
			<%= render "review_notice" %>
		<% end %>
	<% end %>
<% else %>
	<%= render "view_listing_by_state", listing: @listing %>
<% end %>
