<%= render "tablesorter", { table: "table_of_users", sort_by_column_number: 0 } %>

<header>
	<h1><%= title "#{@users.size} #{t("users", count: @users.size)}" %></h1>
</header>

<table id="table_of_users" class="table table-hover table-condensed">
	<thead>
		<th><%= title t("views.users.index.table.headers.number") %></th>
		<th><%= title t("views.users.index.table.headers.role") %></th>
		<th><%= title t("views.users.index.table.headers.name") %></th>
		<th><%= title t("views.users.index.table.headers.email") %></th>
		<th><%= title t("views.users.index.table.headers.cell_phone_number") %></th>
		<th><%= title t("views.users.index.table.headers.number_of_listings") %></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.role %></td>
				<td><%= user.first_name %></td>
				<td><%= user.email %></td>
				<td><%= user.cell_phone_number %></td>
				<td><%= "#{user.listings.size} #{t("listings", count: user.listings.size)}" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
