<%= render "tablesorter", { table: "table_of_users", sort_by_column_number: 0 } %>
<%= render "tooltip", { selector: "#table_of_users", placement: "top" } %>

<header>
	<h1><%= title "#{@users.size} #{t("users", count: @users.size)}" %></h1>
</header>

<table id="table_of_users" class="table table-hover table-condensed">
	<thead>
		<th><%= t("views.users.index.table.headers.number") %></th>
		<th><%= t("views.users.index.table.headers.role") %></th>
		<th><%= t("views.users.index.table.headers.name") %></th>
		<th><%= t("views.users.index.table.headers.email") %></th>
		<th><%= t("views.users.index.table.headers.cell_phone_number") %></th>
		<th><%= t("views.users.index.table.headers.number_of_listings") %></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= t("views.users.index.table.copy.#{user.role}") %></td>
				<td>
					<% member_since = "#{t("views.users.index.table.copy.since")} #{user.created_at.strftime("%A, %d %B %Y, %H:%M:%S")}"%>
					<%= link_to user.first_name, user, { rel: "tooltip", title: member_since } %>
				</td>
				<td><%= user.email %></td>
				<td><%= user.cell_phone_number %></td>
				<td><%= "#{user.listings.size} #{t("listings", count: user.listings.size)}" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
