<header>
	<h1><%=title t("views.welcome.about.titles.title", application_name: t("application.name")) %></h1>
</header>

<p class="leader"><%= t("views.welcome.about.copy.introduction.p1", application_name: t("application.name")) %></p>




<div class="row">
	<div class="span3">
		<h2><%= t("views.welcome.about.titles.where_do_i_start") %></h2>

		<p>
			<%= t("views.welcome.about.copy.where_do_i_start.p1.s1") %>
			<%= link_to t("views.welcome.about.copy.where_do_i_start.p1.links.the_home_page"), root_path %><%= t("views.application.copy.full_stop") %>
		</p>

		<p>
			<%= t("views.welcome.about.copy.where_do_i_start.p1.s2") %>
		</p>
	</div>

	<div class="span3 offset1">
		<h2><%= t("views.welcome.about.titles.how_do_i_list_an_item") %></h2>

		<p>
			<%= link_to t("views.welcome.about.links.sign_up_for_an_account"), sign_up_path %>
			<%= t("views.welcome.about.copy.how_do_i_list_an_item.p1.s1") %>
		</p>

		<p>
			<%= t("views.welcome.about.copy.how_do_i_list_an_item.p2.s1") %>
		</p>

		<div class="price_list">
			<%= render "listings/price_list" %>
		</div>
	</div>
</div><!-- /row -->
