<footer>
	<div class="container">
		<div class="right">
			<%= link_to_unless_current t("views.application._footer.clickables.links.about"), "#" %>
			| <%= link_to_unless_current t("views.application._footer.clickables.links.privacy"), "#" %>
			| <%= link_to_unless_current t("views.application._footer.clickables.links.terms"), "#" %>
			| <%= link_to_unless_current t("views.application._footer.clickables.links.contact"), "#" %>
			| <%= link_to_unless_current t("views.application._footer.clickables.links.blog"), "#" %>
			| &copy; <%= Time.now.year %> <%= link_to t("application.name"), root_path %>
		</div><!-- /.right -->
	</div><!-- /.container -->
</footer>
