<footer>
	<p>
		<%= link_to_unless_current t("views.application._footer.links.about"), about_path %>
		| <%= link_to_unless_current t("views.application._footer.links.privacy"), privacy_path %>
		| <%= link_to_unless_current t("views.application._footer.links.terms"), terms_path %>
		| <%= link_to_unless_current t("views.application._footer.links.contact"), contact_path %>
	</p>
	<p>
		<small>
			&copy; <%= Time.now.year %> <%= link_to t("application.developer.name"), t("application.developer.url") %><%= t("views.application.copy.full_stop") %>
		</small>
	</p>
</footer>
