<footer>
	<p>
		<%= link_to_unless_current t("views.application._footer.links.about"), about_path %>
		| <%= link_to_unless_current t("views.application._footer.links.privacy"), privacy_path %>
		| <%= link_to_unless_current t("views.application._footer.links.terms"), terms_path %>
		| <%= link_to_unless_current t("views.application._footer.links.contact"), contact_path %>
		| <%= link_to_unless_current t("views.application._footer.links.blog"), "http://blog.sangwapo.com" %>
	</p>
	<p>
		<small>
			A creation of <a href="http://pencilcasestudios.com">Pencil Case Studios</a>.
			&copy; <%= Time.now.year %>.
		</small>
	</p>
</footer>
