<% if current_user.admin? %>
	<ul class="nav user">
		<li id="tab_manage_payments"><%= link_to t("views.application._navigation.links.payments"), pending_payments_path %></li>
		<% payments_count = Payment.find_all_by_state("unlocked").count %>
		<% if payments_count > 0 %>
			<li><span class="label label-important"><%= payments_count %></span></li>
		<% end %>
		<li id="tab_manage_listings"><%= link_to t("views.application._navigation.links.listings"), review_listings_path %></li>
		<% listings_count = Listing.find_all_by_state("review").count %>
		<% if listings_count > 0 %>
			<li><span class="label label-important"><%= listings_count %></span></li>
		<% end %>
	</ul><!-- /.nav -->
<% end %>

<ul class="nav secondary-nav user">
	<li id="tab_all_listings"><%= link_to t("views.application._navigation.links.all_listings"), root_path %></li>
	<li id="tab_my_listings"><%= link_to t("views.application._navigation.links.my_listings"), mine_listings_path %></li>
	<li id="tab_create_a_listing"><%= link_to t("views.application._navigation.links.create_a_listing"), new_listing_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
			<li>
				<%= link_to account_settings_path do %>
					<i class="icon-cog"></i>
					<%= t("views.application._navigation.links.account_settings") %>
				<% end %>
			</li>
			<li class="divider"></li>
			<li>
				<%= link_to sign_out_path do %>
					<i class="icon-off"></i>
					<%= t("views.application._navigation.links.sign_out") %>
				<% end %>
			</li>
    </ul>
  </li>
</ul><!-- /.nav -->
