<!DOCTYPE html>
<html>
<head>
	<%= display_meta_tags(default_meta_tags) %>

	<%= render "viewport" %>

  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>

	<%= render "favicons" %>

  <%= csrf_meta_tags %>

	<%= render "analytics" %>
</head>
<body id="<%= body_id %>">
	<%= render "navigation" %>
	
  <div class="container">
		<div class="row">

			<div class="span9">
				<section id="content_pane">
					<%= render "notifications" %>

					<%= yield %>
				</section>
			</div>

			<div class="span3">
				<section id="control_pane">					
					<header>
						<h1>
							<%= link_to t("application.name"), root_path %><br />
							<small><%=raw t("application.tagline_html") %></small>
						</h1>
					</header>
					
					<%= render "footer" %>
				</section>
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</body>
</html>
