<!DOCTYPE html>
<html>
<head>
  <title><%= render "title" %></title>

	<%= render "viewport" %>

  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>

	<%= render "favicons" %>

  <%= csrf_meta_tags %>

	<%= render "analytics" %>
</head>
<body id="<%= body_id %>">
	<%= render "navigation" %>

  <div class="container">

		<%= render "notifications" %>

		<%= yield %>

	</div><!-- /.container -->

	<%= render "footer" %>
</body>
</html>
