<!DOCTYPE html>
<html>
<head>
  <title><%= render "title" %></title>

	<%= render "viewport" %>

  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>

	<%= render "favicons" %>

  <%= csrf_meta_tags %>

	<%= render "analytics" %>
</head>
<body id="<%= body_id %>">
	<%= render "navigation" %>
	
  <div class="container">
		<div class="row">

			<div class="span8">
				<section id="content_pane">
					<%= render "notifications" %>

					<%= yield %>
				</section>
			</div>

			<div class="span4">
				<section id="control_pane">					
					<header>
						<h1><%= link_to t("application.name"), root_path %></h1>
					</header>
					
					<%= render "footer" %>
				</section>
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</body>
</html>
